<div class="grid-row" data-id="{{id}}">
        <div class="provider-cells">
                <div class="id grid-cell">
                        {{id}}
                </div>

                <div class="name grid-cell">
                        {{name}}
                </div>

                <div class="provider_name grid-cell">
                        {{provider_name}}
                </div>

                <div class="enabled grid-cell">
                    {{enabled}}
                </div>
        </div>
</div>
